/*!
Theme Name: Halker template
Author: Rachel Rippy
Author URI: http://www.rachelrippy.com
Description: A custom theme built for Halker Consulting.
=======

/* Fonts 
----------------------------------------------------------------------------------------

font-family: 'Open Sans', sans-serif;
Open+Sans:400italic,600italic,700italic,800italic,400,800,600,700

*/

/* HTML Reset
----------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* remove scroll-bar shift */
html { 
	overflow-y: scroll;
}

.clear, .clearfloat {
	clear: both;
	display: block;
	font-size: 1px;
    height:0px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
	
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



/* Main stuff
----------------------------------------------------------------------------------------*/

#header_wrap, #footer {
	width: 100%;
}
#main {
	clear: both;
}


/* sticky footer wraps etc. */
html, body {
	height: 100%;
}
#wrapper_all {
	height: 100%;
	width: 100%;
}
#wrapper {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
	margin-bottom: -120px;
}
.push {
	height: 120px;
	clear: both;
}
#footer {
	position: relative;
	margin-top: -120px; /* negative value of footer height */
	height: 120px;
	clear: both;
	width: 100%;
	overflow: hidden;
} 
/*Opera Fix*/
body:before {
	content:"";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}
<!--[if !IE 7]>
#wrapper_all {
	display: table;
	height: 100%;
}
<!--[endif]-->

.test {
	
}



/* Text elements 
----------------------------------------------------------------------------------------*/
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 0.78em;
	color: #222222;
}
p {
	margin: 15px 0;
}

.caption-text {

}

ul, ol {

}
ul {
	
}
ol {
	
}
li {
	
}



/* Links 
----------------------------------------------------------------------------------------*/
a {
	text-decoration: none;
	color: #222222;
}
p a {
	text-decoration: underline;
}
p a:hover {
	color: #007836;
}

a:focus,
a:active,
a:hover {
	
}



/* Headings 
----------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h5 a, h6 a {
	font-weight: normal;
}

h1 {

}
h2 {
	font-size: 1.71428571em; /* 24px */
}
#main h2 {
	margin: 26px 0 32px;
}
h2 a {
	font-weight: 700;
	color: #007836;
	display: inline;
	font-size: 0.6666666666em; /* 16px */
}
h2 a:hover {
	color: #A0D000;
}
h2 br {
	font-size: 1em;
}
h3 {
	font-weight: 700;
	font-size: 1.24em;
	font-weight: 700;
	line-height: 1.2em;

}
h4 {
	width: 95%;
	height: 36px;
	line-height: 2.1em;
	padding: 0 2.5% 1px;
	color: #fff;
	background: url(images/green_background.png) repeat-x top left #007836;
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
body.page-id-9 h4 {
	background-color: #fff;
	color: #007836;
	height: auto;
	line-height: 1.5em;
}
h5 {
	font-size: 1.69230769em; /* 22px */
	color: #007836;
	font-weight: 700;
	margin: 22px 0 -10px;
}
h6 {
	font-weight: 700;
	color: #007836;
	font-size: 1.3em;
}
h6 a, .sidebar_text h6 a {
	text-decoration: none;
	font-weight: 700;
	color: #007836;
}
h6 a:hover {
	text-decoration: underline;
}



/* Naviagtion
-------------------------------------------------------------- */
.pager {
	clear: both;
	padding-top: 30px;
}
.previous {
	float: left;
	height: 22px;
	background: url(images/prev_nav.png) no-repeat top left;
	padding-left: 16px;
}
.next {
	float: right;
	height: 22px;
	padding-right: 16px;
	background: url(images/next_nav.png) no-repeat top right;
}
.previous:hover {
	background-position: bottom left;
}
.next:hover {
	background-position: bottom right;
}
.pager a {
	text-transform: uppercase;
	font-size: 0.84615385em; /* 11px */
	font-weight: 600;
}
.pager a:hover {
	color: #007836;
}

.sub-nav {
	background-color: #222;
	width: 100%;
	height: 42px;
	color: #fff;
	font-size: 0.84615385em; /* 11px */
	text-transform: uppercase;
}
.sub-nav li {
	float: left;
	border-left: #fff solid 1px;
	max-width: 153px;
}
.sub-nav li:last-of-type {
	border-right: #fff solid 1px;
}
.sub-nav li:hover a {
	opacity: 0.6;
}
.sub-nav li.current_page_item {
	background-color: #007836;
}
.sub-nav a {
	height: 36px;
	padding: 6px 7px 0;
	color: #fff;
	display: block;
}


/* Images 
----------------------------------------------------------------------------------------*/
img.alignright, .wp-caption.alignright, .alignright { 
	float: right; margin: 0 0 18px 18px; 
}
img.alignleft, .wp-caption.alignleft, .alignleft { 
	float: left; margin: 0 18px 18px 0; 
}
img.aligncenter, .wp-caption.aligncenter, .aligncenter { 
	display: block; margin: 18px auto; 
}
img.alignright, img.alignleft, img.aligncenter, img.alignnone {
}
 
.wp-caption.alignleft img, .wp-caption.alignleft img, .wp-caption.aligncenter img {
	display: block;
}




/* Header Styles
----------------------------------------------------------------------------------------*/
#header_wrap {

}
#site_title span {
	font-size: 1px;
	position: absolute;
	top: -600px;
}

#top_anchor_bar {
	width: 100%;
	height: 30px;
	background: url(images/green_background.png) repeat-x top left #007836;
}
#top-nav {
	width: 936px;
	margin: 0 auto;
}
.menu-secondary_top_nav-container {
	float: right;
}
#top-nav li {
	float: left;
	margin: 6px 4px 0 14px;
	letter-spacing: 0.08em;
}
#top-nav a {
	color: #fff;
	text-transform: uppercase;
	font-size: 0.84315385em; /* 11px */
}
#top-nav a:hover {
	opacity: 0.85;
}
#top-nav .social_icon a {
	width: 14px;
	height: 14px;
	display: block;
	margin-top: 3px;
	text-indent: -9999px;
}
#top-nav .facebook_icon a {
	background: url(images/facebook_icon.png) no-repeat;
}
#top-nav .twitter_icon a {
	background: url(images/twitter_icon.png) no-repeat;
}
#top-nav .linkedin_icon a {
	background: url(images/linkedin_icon.png) no-repeat;
}


#branding {
	width: 936px;
	height: 92px;
	margin: 0 auto;
}
#headergroup {
	float: left;
}
#site_title img {
	margin-top: 28px;
}

.menu-main_nav-container {
	float: right;
}
#menu-main_nav li {
	float: left;
	text-transform: uppercase;
	font-size: 1.15384615em; /* 15px */
	font-weight: 600;
	border-right: 1px #222222 solid;
}
#menu-main_nav li:first-of-type {
	border-left: 1px #222222 solid;
}
#menu-main_nav li a {
	width: 106px;
	height: 30px;
	display: block;
	padding: 40px 0 0 16px;
}
#menu-main_nav li a:hover {
	background-color: rgba(0, 120, 54, 0.08);
}
#menu-main_nav li.current-menu-item a, #menu-main_nav li.current-page-ancestor a {
	background-color: rgba(0, 120, 54, 0.08);
	font-weight: 700;
	color: #007836;
}



/* Default page Styles
----------------------------------------------------------------------------------------*/
#main {
	width: 936px;
	margin: 0 auto 58px;	
}
.intro_text {
	margin-bottom: 40px;
}


/* Home page Styles
----------------------------------------------------------------------------------------*/
.value_overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 48px;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	padding: 12px 0 0 0;
}
.slider_controls {
	width: 936px;
	margin: 0 auto;
}
.flex-caption {
	margin-left: 184px;
	position: relative;
	z-index: 30;
}
.map .flex-caption {
	position: absolute;
	left: 0;
	font-size: 0.76em;
	margin: 12px 0 0 16px;
	max-height: 36px;
	overflow: hidden;
}
.section_buttons {
	width: 936px;
	height: auto;
	overflow: hidden;
}
.section_block {
	float: left;
	margin: 0 24px 24px 0;
	background-color: rgba(114, 120, 88, 0.26);
	width: 296px;
	height: 550px;
	position: relative;
}
body.page-id-9 .section_block {
	background-color: transparent;
	height: 480px;
	overflow: hidden;
}
body.page-id-9 .section_block a {
	width: 100%;
	height: 100%;
}
body.page-id-23 .section_block, body.page-id-17 .section_block {
	background-color: transparent;
	width: 100%;
	height: 176px;
	margin: 24px 0 0 0;
}
.section_block:nth-of-type(3), .section_block:nth-of-type(6), body.page-id-23 .section_block, body.page-id-17 .section_block {
	margin-right: 0;
}
body.page-id-23 .section_block > a, body.page-id-17 .section_block > a {
	width: 568px;
}
.section_block > a {
	width: 296px;
	display: block;
}
body.page-id-9 .section_block a h4 {
	color: #007836;
	font-weight: 700;
	background: none;
}
body.page-id-23 .section_block a, body.page-id-17 .section_block a {
	font-weight: 400;
	color: #222222;
	width: 100%;
	height: 176px;
}
body.page-id-23 .section_block a:hover, body.page-id-17 .section_block a:hover {
	background-color: #e5e5e5;
}
.section_block a:hover, body.page-id-23 .section_block a:hover h4, body.page-id-17 .section_block a:hover h4, body.page-id-9 .section_block a:hover h4 {
	color: #A0D000;
}
.map_location {
	position: absolute;
	width: 46px;
	height: 46px;
	display: block;
	cursor: pointer;
	z-index:60;
}
.btn_1 {
	top: 210px;
	left: 244px;
}
.btn_2 {
	top: 260px;
	left: 180px;
}
.btn_3 {
	top: 330px;
	left: 250px;
}
.btn_4 {
	top: 100px;
	left: 260px;
}
body.home .section_block a img {
	margin: 0;
}
.page-id-9 .section_block a img {
	margin: 0 15%;
	max-width: 70%;
}
body.page-id-23 h4, body.page-id-23 .block_intro, body.page-id-17 h4, body.page-id-17 .block_intro {
	width: 678px;
	float: left;
	padding: 0 8px 0 0;
}

.left_image {
	float: left;
	margin: 0 24px 24px 0;
	width: 224px;
}
.right_info {
	float: right;
}
.block_intro {
	margin: 10px 0;
	font-size: 1.2em;
	line-height: 1.5em;
}
body.home .block_intro {
	margin: 20px 17px 5px;
	font-size: 1.4em;
}
.block_body {
	margin: 17px;
	font-weight: 600;
}
body.home .block_body {
	position: absolute;
	bottom: 0;
}
body.home .block_body a, body.home .news_item a {
	color: #007836;
	font-weight: 800;
}
body.home .block_body a:hover, body.home .news_item a:hover {
	text-decoration: underline;
}
.block_btn:hover img {
	opacity: 0.8;
}
.news_item {
	margin: 17px;
}
.news_item p {
	margin: 0;
}
.slider_link_btn {
	color: #50A428;
	font-weight: 700;
	white-space: nowrap;
	font-size: 0.8em; /* 16px */
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}
.slider_link_btn:hover {
	color: #A0D000;
}
.lifestream_credits, #lifestream {
	display:  none;
}




/* Projects Page Styles
----------------------------------------------------------------------------------------*/
.project_gallery {
	width: 984px;
	margin: 0 0 0 -12px;
}
.project_thumb {
	float: left;
	position: relative;
	margin: 24px 12px;
	width: 296px;
	height: 266px;
	overflow: hidden;
}
.gallery_hover {
	width: 264px;
	height: 178px;
	padding: 16px;
	background-color: #007836;
	color: #fff;
	opacity: 0.75;
	position: absolute;
	top: 266px;
	font-size: 1.30769231em; /* 17px */
}
.thumb_title {
	font-weight: 700;
	margin-bottom: 8px;
}


.two_columns {
	width: 616px;
	float: left;
}
.two_columns h4, .three_quarter_columns h4 {
	text-align: left;
}
.three_quarter_columns {
	width: 696px;
	float: left;
	position: relative;
}
.three_quarter_columns ul, .full_culumn ul {
	margin-bottom: 30px;
}
.three_quarter_columns li, .full_culumn li {
	list-style: url(images/bullet_arrow.png);
	margin: 10px 18px;
}



.project_sidebar {
	width: 268px;
	padding: 14px;
	float: right;
	background-color: rgba(114, 120, 88, 0.26);
	overflow: hidden;
}
.project_sidebar.quarter  {
	width: 190px;
}

.project_sidebar .pdf_link img {
	width: 136px;
	margin-bottom: 24px;
}
.sidebar_image a, .sidebar_image img {
	margin: 0 auto;
	width: 100%;
	display: block;
}
.project_sidebar img {
	width: 100%;
}
.project_sidebar p {
	line-height: 1.8em;
}
.sidebar_image a:hover {
	opacity: 0.8;
}
.sidebar_text {
	margin-bottom: 10px;
	font-size: 0.9em;
}
.sidebar_text a {
	text-decoration: underline;
}
.sidebar_text a:hover {
	color: #007836;
}








/* Services Page Styles
----------------------------------------------------------------------------------------*/
img.lead_img {
	width: 100%;
	margin: 24px 0 18px;
}
body.page-template-page-region-individual-php img.lead_img {
	width: 686px;
	border: solid 5px #e5e5e5;
}
.two_columns h2, body.page-parent h2 {
	margin: 0 0 42px;
}
.two_columns p, .two_columns ul, .two_columns ol, .two_columns a, .three_quarter_columns p, .three_quarter_columns a,
.full_culumn p, .full_column a, #main > p, #main > ul, #main > ol, #main > a, 
.three_quarter_columns li, .full_culumn li, .williston-basin {
	font-size: 1.30769em; /* 17px */
}
.two_columns ul, .two_columns ol, #main > ul, #main > ol {
	margin-left: 42px;
}
.two_columns li, #main > ul li, #main > ol li {
	list-style: disc;
}
.two_columns p img {
	margin: 16px 0;
}
.about_image {
	max-height: 200px;
	overflow: hidden;
}




/* Map Styles
----------------------------------------------------------------------------------------*/
.region_map {
	position: relative;
	margin: 20px 0 50px;
}






/* Contact Page Styles
----------------------------------------------------------------------------------------*/




/* Footer Styles
----------------------------------------------------------------------------------------*/
#footer {
	width: 100%;
	background-color: #222222;
	color: #fff;
	text-align: center;
}
#footer_content {
	width: 936px;
	margin: 0 auto;
}
#menu-footer_nav {
	margin: 30px 0 34px;
}
#menu-footer_nav li {
	display: inline-block;
	border-left: 1px #fff solid;
}
#menu-footer_nav li:first-of-type {
	border-left: none;
}
#menu-footer_nav li a {
	color: #fff;
	padding: 0 12px;
}
#menu-footer_nav li a:hover {
	color: #C9DDCE;
}
.copyright {
	font-size: 0.84615385em; /* 11px */	
}



/* Blog Styles
----------------------------------------------------------------------------------------*/
article {
	border-bottom: 1px solid #222;
	padding-bottom: 20px;	
}
article h5 {
	margin-top: 38px;
	margin-bottom: 0;
}
#comments h3 {
	font-size: 1.38461538em; /* 18px */
	margin-top: 10px;	
}
.form-allowed-tags {
	visibility: hidden;
}
.comment-form-comment label {	
	display: block;
}



/* Forms 
----------------------------------------------------------------------------------------*/
input[type=text],
input[type=password],
textarea {
	
}
input[type=text]:focus,
textarea:focus {

}
textarea {

}
input[type=text] {

}







/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; list-style: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flexslider .slides > li {
	margin: 10px 0 0;
}
.flexslider.map .slides img {
	height: 266px;
	width: 366px;
	border: solid 2px #e5e5e5;
	margin: 0 0 16px 15px;
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 24px 0; 
	position: relative; 
	zoom: 1;
}
.flexslider.map{
	width: 402px;
	float: left;
	margin: 14px 0 0;
}
.map_right h6 {
	font-size: 0.9652em;
	margin: 5px 0;
}
.excerpt_text {
	min-height: 100px;
	max-height: 220px;
	overflow: hidden;
	font-size: 0.9em;
	width: 230px;
}
.map_right {
	float: right;
	width: 238px;
	margin: 18px;
}
.flexslider.map .slides {
	width: 402px;
	overflow: hidden;
	height: 300px;
	margin-bottom: 0;
	margin-left: 20px;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {
	width: 936px;
	margin: -37px auto 70px;
	position: relative;
}
.map .flex-control-nav {
	width: 366px;
	margin: -48px 0 5px 22px;
	float: left;
}
.flex-control-nav li {
	margin: 0 0 0 12px; 
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}
.flex-control-paging li a {
	width: 10px; 
	height: 10px; 
	display: block; 
	background: #289030;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	-o-border-radius: 5px; 
	border-radius: 5px;
}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active { 
	background: #fff;
}
.map .flex-control-paging li a {
	background: #795500;
}
.map .flex-control-paging li a:hover, .map .flex-control-paging li a.flex-active {
	background: #007836;
}
.map_hover_info {
	width: 682px;
	height: 320px;
	background: url(images/map_box.png) no-repeat;
	position: absolute;
	top: 0;
	display: none;
	z-index: 200;
	box-shadow: 2px 1px 5px 3px rgba(114, 120, 88,0.1);
}
.map_hover_info.denver-julesburg-basin {
	top: 110px;
	left: 276px;
}
.map_hover_info.san-juan-basin {
	top: 154px;
	left: 230px;
}
.map_hover_info.permain-basin {
	top: 226px;
	left: 292px;
}
.map_hover_info.williston-basin {
	top: -10px;
	left: 300px;
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}